footer {
    margin-top: 50px;
    padding: 20px 7%;
    border-top: 1px solid $brand_color;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    background-color: whitesmoke;
    .footer {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;
        &_content1 {
            a {
                display: block;
                margin-bottom: 10px;
            }
        }
        &_content2 {
            p{
                text-align: right;
                margin-bottom: 10px;
                
            }
        }
    }
}