@import "./fragments/config";
@import "./fragments/header";
@import "./fragments/mainBody";
@import "./fragments/_calculator.scss";
@import "./fragments/footer";
body {
    background-color: whitesmoke;
    color: black;
    background-image: url("../path.jpg");
    background-attachment: fixed;
    background-size: cover;
}